@import "../bootstrap_vars";
@import "../mixins.less";

@categories-bg-col: #FAFAFA;


.nav.categories{
  display: block;
  text-align: center;
  margin-bottom: 50px;
  border: 0;
  background: @categories-bg-col;
  padding: 0;
  box-shadow: 3px 3px 4px darken(@categories-bg-col, 4%);


  .searchBar{
    padding: 0;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;

    .glyphicon-search{
      opacity:0.5;
    }

    &:hover{
      .glyphicon-search{
        opacity: 0.9;
      }

      input[type="text"] {
        border-color: rgba(126, 239, 104, 0.9);
      }

      .btn{
        border-color: rgba(126, 239, 104, 0.9);
      }
    }


    input[type="text"]{
      border-color: rgba(126, 239, 104, 0.5);
      outline: none;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
      height: 32px;
    }


    .btn{
      border-color: rgba(126, 239, 104, 0.5);
      outline: none;
      height: 32px;

      &:hover{
        background: transparent;
      }
    }

    .searchInput{
      .transition(0s all ease);
    }

  }



  li{
    .transition(all 0.1s ease);
    border: 2px solid transparent;
    padding: 0;
    margin: 0;
    border-radius: 0;
    box-shadow: 3px 0 0 darken(@categories-bg-col, 4%);


    &:hover:not(.current){
      a{
        font-weight: bold;
        text-decoration: underline;
        background: transparent;
        font-size: 18px;
      }
    }


    a{
      color: #009900;
      border-radius: 0;
      .transition(all 0.2s ease);
      width: 100%;
      height: 100%;
      font-size: 16px;
      line-height: 18px;

      &:active, &:focus{
        background: transparent;
      }
    }

    span{
      font-weight: normal;
      font-size: 16px;
    }
  }

  .current{
    border-top: 2px solid darken(@categories-bg-col, 4%);
    border-bottom: 2px solid darken(@categories-bg-col, 4%);
    box-shadow: 3px 0 0 #FFF;
    font-weight: bold;
    width: 101%;
    border-right: 0;
    background: #f9f9f9;
    background: -moz-linear-gradient(left,  #f9f9f9 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f9f9f9), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(left,  #f9f9f9 0%,#ffffff 100%);
    background: -o-linear-gradient(left,  #f9f9f9 0%,#ffffff 100%);
    background: -ms-linear-gradient(left,  #f9f9f9 0%,#ffffff 100%);
    background: linear-gradient(to right,  #f9f9f9 0%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ffffff',GradientType=1 );

    a{
      font-size: 18px;
    }

    &:hover{
      a{
        background:transparent;
      }
    }
  }

  .search{
    width: 100%;
    min-width: 100%;
  }

}


