@import "../bootstrap_vars";
@import "../mixins.less";

.paginationContainer {
  width: 100%;
  display: inline-block;

  .pagination {
    margin: 0;
    margin-bottom: 20px;

    li {


      a {
        width: 30px;
        line-height: 35px;
        font-size: 20px;
        border-radius: 0;
        color: #009900;
        border: 0;
        padding: 7px;
        margin-right: 10px;

        &:hover {
          font-weight: bold;
          color: #00DD00;
          background: transparent;
          box-shadow: 0 -3px 0 0 #00FF00 inset;
        }
      }


      .isCurrent {
        font-weight: bold;
        color: #00FF00;
        box-shadow: 0 -3px 0 0 #00FF00 inset;
      }
    }

    .split{
      a{
        color: #777;

        &:hover {
          font-weight: normal;
          color: #777;
          background: transparent;
          box-shadow: none;
        }
      }
    }

  }
}




