{% extends "::base.html.twig" %}

{% block title %}
    Krepšelis | {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {% stylesheets
        '@KTUShopBundle/Resources/less/baseView/*'
        '@KTUShopBundle/Resources/less/Cart/*'
        combine=true %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block body %}


    <div class="main-wrapper clearfix">
        <div class="enlarged">
        </div>

        {% include '@KTUShop/baseView/mainHeader.html.twig' %}

        {% include '@KTUShop/baseView/navBar.html.twig' %}


        <div class="main-container col-lg-12 clearfix">

            {% include '@KTUShop/Cart/cartContainer.html.twig' %}

        </div>

    </div>

    {% include '@KTUShop/baseView/footer.html.twig' %}

{% endblock %}

{% block javascripts %}
    {% javascripts
        '@KTUShopBundle/Resources/javascript/Cart/*'
        '@KTUShopBundle/Resources/javascript/assetsClasses/*'
        combine=true %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}