<ul class="nav nav-pills nav-stacked col-lg-2 col-md-12 categories">

    {% include '@KTUShop/Main/searchBar.html.twig' %}

    {% if app.request.get('keyword') != NULL %}
        <li class="current"><a>Paieška: <span>"{{ keyword }}"</span></a></li>
    {% endif %}

    <li {% if app.request.get('category') == NULL and app.request.get('keyword') == NULL %} class="current"{% endif %}><a href="{{ path('shop_landingpage') }}">Visos prekės</a></li>

    {% for category in categoryEntities %}

        <li {% if app.request.get('category') == category.name %} class="current"{% endif %} ><a href="{{ path('shop_category' ,{ 'category' : category.name }) }}">{{ category.name }}</a></li>
    {% endfor %}

</ul>