
    <form class="navbar-form searchBar" role="search">
        <div class="input-group">
            <input type="text" title="Įveskite žodį, kurį atitinkančių prekių norite ieškoti" class="form-control searchInput" placeholder="raktažodis" name="srch-term" id="srch-term">
            <div class="input-group-btn">
                <div class="btn btn-default searchButton"><i class="glyphicon glyphicon-search"></i></div>
            </div>
        </div>
    </form>
