
            <div class="blockWrap col-lg-6">
                <div class="block col-lg-12">
                    <p class="blockTitle">Aprašymas</p>

                    <div class="itemDescriptionContainer col-lg-12">
                        <p class="itemDescription"> {{ itemDetails.description }}</p>
                    </div>

                </div>
            </div>