<div class="navBar">
    <ul class="list-inline navigation">
        <li><a href="{{ path('shop_landingpage') }}">Pradžia</a></li>
        <li><a href="/krautuve/web/profile/edit">Profilis</a></li>
        <li><a href="#">Informacija</a></li>
        <li><a href="#">Taisyklės</a></li>
    </ul>
</div>