@import "../mixins";

@navBar-bg-col: #FAFAFA;
@navItem-txt-col: #009900;

.navBar{
  background-color: @navBar-bg-col;
  padding: 0px 30px;
  position: relative;
  height: auto;
  box-shadow: 0 3px 4px darken(@navBar-bg-col, 4%);
  text-align:center;


  .navigation{
    width: 100%;
    padding: 2px;

    li{
      min-width:70px;
      max-height: 50px;
      padding-top:12px;
      padding-bottom:12px;
      padding-left: 10px;
      padding-right: 10px;

      a{
        letter-spacing: 1px;
        padding: 8px;
        color: @navItem-txt-col;
        cursor: pointer;
        border: 1px solid transparent;
        border-radius: 2px;
        .transition(all 0.2s ease);

        &:hover{
          text-decoration: none;
          color: lighten(@navItem-txt-col, 10%);
          border: 1px solid lighten(@navItem-txt-col, 10%);
        }
      }

    }

  }

}